<a href="https://colab.research.google.com/github/anjalys/Bio-degradeble-Chemicals-Classification/blob/main/Bio_Degradable_Chemical_industry_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
data = files.upload()

Saving bio-degradabale-data.csv to bio-degradabale-data.csv

### Domain –Chemical Industry

#### focus –Classify chemical

FuPont is a leading chemical company across the globe.  The Company is on a CSR (Corporate Social Responsibility) mission. It wants to identify biodegradable products based on a study of the relationships between chemical structure and biodegradation of molecules.

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('bio-degradabale-data.csv', header=None, sep=';')

In [ ]:
data.shape

(1055, 42)

In [ ]:
data.head(3)

      0       1   2   3   4   5   6   ...     35     36  37     38  39  40  41
0  3.919  2.6909   0   0   0   0   0  ...  2.949  1.591   0  7.253   0   0  RB
1  4.170  2.1144   0   0   0   0   0  ...  3.315  1.967   0  7.257   0   0  RB
2  3.932  3.2512   0   0   0   0   0  ...  3.076  2.417   0  7.601   0   0  RB

[3 rows x 42 columns]

In [ ]:
X = data.iloc[:, 0:41]
y = data[41]

Method 1 without reducing the attributes

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=1)

In [ ]:
# SVC using train/test split
svc1 = SVC()
svc1.fit(X_train, y_train)
pred1 = svc1.predict(X_test)
print("SVC : {}".format(accuracy_score(y_test, pred1)))
print()

# KNN using train/test split
from sklearn.neighbors import KNeighborsClassifier
knn1 = KNeighborsClassifier(n_neighbors=4)
knn1.fit(X_train, y_train)
pred2 = knn1.predict(X_test)
print("KNN : {}".format(accuracy_score(y_test, pred2)))
print()

## SVC with Cross-validation
svc2 = SVC()
scores2 = cross_val_score(svc2, X, y, cv=5, scoring='accuracy').mean()
print("SVC Cross-validation : {}".format(scores2))
print()

# KNN using Cross-validation
from sklearn.neighbors import KNeighborsClassifier
knn2 = KNeighborsClassifier(n_neighbors=4)
scores3 = cross_val_score(knn2, X, y, cv=5, scoring='accuracy').mean()
print("KNN Cross-validation : {}" .format(scores3))
print()

SVC : 0.8107255520504731

KNN : 0.8422712933753943

SVC Cross-validation : 0.8075829383886255

KNN Cross-validation : 0.8303317535545023

KFold with AdaBoost

In [ ]:
from sklearn.model_selection import KFold
from sklearn.ensemble import AdaBoostClassifier
import time

In [ ]:
start_time = time.time()
kfold = KFold(n_splits=40)
model = AdaBoostClassifier(n_estimators=30)

kfold_boost = cross_val_score(model, X, y, cv=kfold).mean()

end_time = time.time()

print(kfold_boost)

print("time taken : ", end_time - start_time)

0.8280270655270655
time taken :  5.704554319381714